#navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 0;
  background-color: white;
  position: relative;
}

.nav-menu * {
  font-weight: 500;
  margin: 2px;
  padding: 0;
  list-style: none;
  color: black; /* Text color set to black */
}

.navtitle {
  padding: 5px 40px 5px 40px;
}

.navtitle > img {
  max-width: 200px;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px 20px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 10px;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  background: none; /* Remove background */
  border: none; /* Remove border */
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: black; /* Text color set to black */
}

@media (min-width: 992px) {
  .nav-menu a span,
  .nav-menu a:focus span {
    color: black; /* Text color set to black for larger screens */
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  background: none; /* Remove background on hover */
  color: #555; /* Change text color on hover */
  font-weight: 600; /* Make font weight bolder on hover */
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #555; /* Change text color on hover */
}

.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  color: black; /* Text color set to black */
}

.mobile-nav-toggle i {
  color: black; /* Text color set to black */
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #0563bb;
}
