.main-container {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.banner {
  text-align: center;
  background-image: url('../../assets/graphics/home-bg.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px black;
}

.logo,
.wm-logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.shop-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.location-cards,
.categories {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}

.location-card,
.category-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  overflow: hidden
}

.location-card::before,
.category-card::before {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.location-card-first::before {
  background-image: url('../../assets/graphics/labg.jpg');
}

.location-card-second::before {
  background-image: url('../../assets/graphics/sfvbg.jpg');
}

.location-card-first {
  background-image: url('../../assets/graphics/labg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.location-card-second {
  background-image: url('../../assets/graphics/sfvbg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.offers-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.offers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-offers,
.right-offers {
  flex: 1;
}

.left-offers {
  padding: 20px;
}

.right-offers {
  padding: 0px;
}

.offers-container .btn.btn-custom.btn-black-bg {
  background: transparent;
  border: solid 1px black;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease;
  opacity: 0.9;
  color: black;
}

.offers-container .btn.btn-custom.btn-black-bg:hover {
  background: #333;
  color: white;
}

.home-container .btn.btn-custom {
  background: transparent;
  color: white;
  border: solid 1px white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease;
  opacity: 0.9;
  font-weight: 500;
}

.home-container .btn.btn-custom:hover {
  background: #afafaf;
  color: white;
}

.btn.btn-custom {
  margin: 20px;
}

.store-logo {
  max-width: 100%;
  /* Ensures the image does not exceed the width of its container */
  height: auto;
  /* Maintains the aspect ratio of the image */
  margin: 0 auto;
  /* Centers the image horizontally */
  display: block;
  /* Changes the display from inline to block for proper centering */
}

@media (max-width: 1024px) {
  .right-offers {
    display: none;
  }

  .offers {
    flex-direction: column;
  }

  .left-offers {
    width: 100%;
    text-align: center;
  }

  .left-offers .btn.btn-custom {
    margin: 20px auto;
    display: block;
  }
}

@media (max-width: 768px) {

  .shop-buttons,
  .location-cards,
  .categories,
  .offers {
    flex-direction: column;
  }

  .location-card,
  .category-card {
    flex: 0 1 100%;
  }
}

.category-card-flower {
  background-image: url('../../assets/graphics/flower.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  margin: 20px 0;
}

.category-card-edible {
  background-image: url('../../assets/graphics/edible.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  margin: 20px 0;
}

.category-card-accessory {
  background-image: url('../../assets/graphics/accessory.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  margin: 20px 0;
}

@media (min-width: 768px) {

  .banner,
  .location-card,
  .category-card {
    padding: 50px 0px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 10px 0px;
  }

  .location-card,
  .category-card {
    padding: 50px 0px;
  }
}